<!doctype html>
<% if(user.permissions.admin){ %>

<html>
<head>
  <% include partials/head %>
  <script src="/javascripts/admin.js"></script>
  <style>
        body        { word-wrap:break-word; }
  </style>
</head>
<body>
<header>
  <% include partials/header %>
</header>

<% if(user.permissions.editQuestions) { %>
<div class="container">


<!-- Quiz Question Modal -->
<div class="modal fade" id="editQuizQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">WARNING</h4>
      </div>
      <div class="modal-body">
        <b> This will EDIT the selected quiz question, IT IS UNREVERSABLE!!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="editQuizQuestionClicked()" data-dismiss="modal">Perform Edit</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- JQuestion Modal -->
<div class="modal fade" id="editJQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myJModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myJModalLabel">WARNING</h4>
      </div>
      <div class="modal-body">
        <b> This will EDIT the selected j question, IT IS UNREVERSABLE!!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="editJQuestionClicked()" data-dismiss="modal">Perform Edit</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Stanford Question Modal -->
<div class="modal fade" id="editStanfordQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myStanfordModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myStanfordModalLabel">WARNING</h4>
      </div>
      <div class="modal-body">
        <b> This will EDIT the selected s question, IT IS UNREVERSABLE!!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="editStanfordQuestionClicked()" data-dismiss="modal">Perform Edit</button>
      </div>
    </div>
  </div>
</div>
</div>


<% } %>


<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cogs"></span> Admin</h1>
    </div>
  <div class="mydivider"></div>

  <% if(user.permissions.editQuestions) { %>
  <div class="jumbotron">
    <h2><span class="fa fa-question"></span> Question Edit</h2>
    <div class="row">
      <div class="card col-lg-12">
        <div class="card-block">
          <h3 class="card-title"><span class="fa fa-edit"></span> Quiz Collection</h3>
          <form class="form-inline col-lg-12" id="quizQuestionForm" style="">
            <label class="mr-sm-2" for="qIdInput">Question ID</label>
            <input class="form-control col-lg-4" id="qIdInput" type="text"></input>
            <button type="button" class="btn btn-primary" onclick="displayQuizQuestionClicked()">
              Display Question
            </button>
          </form>
          <form class="col-lg-12" id="quizQuestionEditForm">
            <label class="mr-sm-2" for="quizQuestionCategory">Category</label>
            <input class="form-control col-sm-4" id="quizQuestionCategory" type="text"></input>
            <label class="mr-sm-2" for="quizQuestionAnswer">Answer</label>
            <input class="form-control col-sm-4" id="quizQuestionAnswer" type="text"></input>
            <label class="mr-sm-2" for="quizQuestionQuestion">Question</label>
            <textarea class="form-control col-lg-12" id="quizQuestionQuestion" type="text" value=""></textarea>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#editQuizQuestionModal">
              Submit Edit
            </button>
          </form>
          
          <div class="alert alert-danger displayNone" id="quizQuestionMessage"></div> 
        </div>
      </div>
    </div>
    <br>
    <!-- jquestion section -->
    <div class="row">
      <div class="card col-lg-12">
        <div class="card-block">
          <h3 class="card-title"><span class="fa fa-edit"></span> J Collection</h3>
          <form class="form-inline col-lg-12" id="jQuestionForm" style="">
            <label class="mr-sm-2" for="jIdInput">Question ID</label>
            <input class="form-control col-lg-4" id="jIdInput" type="text"></input>
            <button type="button" class="btn btn-primary" onclick="displayJQuestionClicked()">
              Display Question
            </button>
          </form>
          <form class="col-lg-12" id="jQuestionEditForm">
            <label class="mr-sm-2" for="jQuestionCategory">Category</label>
            <input class="form-control col-sm-4" id="jQuestionCategory" type="text"></input>
            <label class="mr-sm-2" for="jQuestionAnswer">Answer</label>
            <input class="form-control col-sm-4" id="jQuestionAnswer" type="text"></input>
            <label class="mr-sm-2" for="jQuestionQuestion">Question</label>
            <textarea class="form-control col-lg-12" id="jQuestionQuestion" type="text" value=""></textarea>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#editJQuestionModal">
              Submit Edit
            </button>
          </form>

          <div class="alert alert-danger displayNone" id="jQuestionMessage"></div>
        </div>
      </div>
    </div>
    <br>

    <!-- stanford question section -->
    <div class="row">
      <div class="card col-lg-12">
        <div class="card-block">
          <h3 class="card-title"><span class="fa fa-edit"></span> Stanford Collection</h3>
          <form class="form-inline col-lg-12" id="stanfordQuestionForm" style="">
            <label class="mr-sm-2" for="sIdInput">Question ID</label>
            <input class="form-control col-lg-4" id="sIdInput" type="text"></input>
            <button type="button" class="btn btn-primary" onclick="displayStanfordQuestionClicked()">
              Display Question
            </button>
          </form>
          <form class="col-lg-12" id="stanfordQuestionEditForm">
            <label class="mr-sm-2" for="stanfordQuestionCategory">Category</label>
            <input class="form-control col-sm-4" id="stanfordQuestionCategory" type="text"></input>
            <label class="mr-sm-2" for="stanfordQuestionAnswer">Answer</label>
            <input class="form-control col-sm-4" id="stanfordQuestionAnswer" type="text"></input>
            <label class="mr-sm-2" for="stanfordQuestionQuestion">Question</label>
            <textarea class="form-control col-lg-12" id="stanfordQuestionQuestion" type="text" value=""></textarea>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#editStanfordQuestionModal">
              Submit Edit
            </button>
          </form>

          <div class="alert alert-danger displayNone" id="stanfordQuestionMessage"></div>
        </div>
      </div>
    </div>


    <% } %>
    <% if(user.permissions.viewReports) { %>

    <!-- question reports section -->
    <br>
    <div class="row">
      <div class="card col-lg-12">
        <div class="card-block">
          <h3 class="card-title"><span class="fa fa-pencil"></span> Question Reports</h3>
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Question Type</th>
                <th>Problem</th>
                <th>Question ID</th>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
            <% for(var i = 0; i < reports.length; i++){ %>
              <tr id="row<%= i %>">
                <td><%= reports[i].questionType %></td>
                <td><%= reports[i].problem %></td>
                <td id="questionIdToRemove"><%= reports[i].id %></td>
                <td><button class="btn btn-sm btn-primary" onclick="editQuestionClicked('<%= reports[i].questionType %>', '<%= reports[i].id%>')">Edit Question</button></td>
                <td><button class="btn btn-sm btn-danger" onclick="removeReportClicked('<%= i %>')">Remove Report</button></td>
              </tr>
            <% } %>
            </tbody>
          </table>
          <div class="alert alert-danger displayNone" id="reportsMessage"></div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

</div>

<footer>
    <% include partials/footer %>
  </footer>

</body>
</html>

<% } %>
