<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>

</head>
<body>
<header>
  <% include partials/header %>
</header>

<div class="container col-sm-12">

  <div class="page-header text-center">
    <h1><span class="fa fa-users"></span>
      <%= title %>
    </h1>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> Game Name </th>
        <th> Seconds / Question </th>
        <th> Difficulty </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info">
        <td> New Game </td>
        <td>
          <label class="mr-sm-2" for="secondsInput">Seconds Per Question</label>
          <input class="form-control col-sm-2" id="secondsInput" type="number" min="5" max="60" value="20"></input>
        </td>
        <td>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif1" dif="1">Easy</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif2" dif="2">Normal</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="dif3" dif="3">Hard</label>
            </div>
        </td>
        <td>
          <button type="button" class="btn btn-warning" id="createButton" onclick="createRoom()">Create</button>
        </td>
      </tr>
      <% 
        var num = 0;
        for(room in rooms){
          num++;

          var roomInfo = rooms[room].info

          if(roomInfo){
      %>
        <tr>
          <td> <%= roomInfo.roomName %></td>
          <td> <%= roomInfo.seconds %></td>
          <td> <%= roomInfo.type %></td>
          <td>
            <span class="badge badge-pill badge-dark">3</span>
            <button type="button" class="btn btn-success">Join</button>
          </td>
        </tr>

      <% 
          }
        } 
      %>
    </tbody>
  </table>

</div>

<div class="container col-sm-12"

</div>



  <footer>
    <% include partials/footer %>
  </footer>

  <script>
    var serverIP = "<%= serverIP %>";
    var name = "<%= name %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/lobby.js"></script>
</body>
</html>
