<!doctype html>
<html>
<head>
  <% include partials/head %>
  <style>
        body        { word-wrap:break-word; }
  </style>
  <script>
    //don't penalize if user came to this page
    sessionStorage.removeItem("not_answered");
  </script>

</head>
<body>
<header>
  <% include partials/header %>
</header>

<div class="container col-sm-12">

    <div class="page-header text-center">
        <h1><span class="fa fa-diamond"></span> Scoreboard</h1>
    </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Place</th>
      <th>Username</th>
      <th>Picture</th>
      <th>Answered</th>
      <th>Correct</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>

    <% for(var i =0; i < results.length; i++){ %>
    <%
      var username = "";
      var photo = "/images/signedout.png";
      var isme = false;
      if(results[i].facebook.name != null){
        username = results[i].facebook.name;
        photo = results[i].facebook.photo;
        if(locals.user && locals.user.facebook.name == username 
           && locals.user.gameinfo.score == results[i].gameinfo.score)
          isme = true;
      }else if(results[i].twitter.username != null){
        username = results[i].twitter.username;
        photo = results[i].twitter.photo;
        if(locals.user && locals.user.twitter.username == username 
           && locals.user.gameinfo.score == results[i].gameinfo.score)
          isme = true;
      }else if(results[i].google.name != null){
        username = results[i].google.name;
        photo = results[i].google.photo;
        if(locals.user && locals.user.google.name == username 
           && locals.user.gameinfo.score == results[i].gameinfo.score)
          isme = true;
      }else if(results[i].local.email != null){
        username = results[i].local.email;
        photo = "/images/signedout.png";
        if(locals.user && locals.user.local.email == username 
           && locals.user.gameinfo.score == results[i].gameinfo.score)
          isme = true;
      }

      //calculate pct correct
      var tright = 0;
      var twrong = 0;
      for(var j = 0; j <results[i].questionHistory.length; j++){
        tright = tright + results[i].questionHistory[j].rightattempts;
        twrong = twrong + results[i].questionHistory[j].wrongattempts;
      }
      var qpct = tright / (tright+twrong) * 100;
      qpct = Math.round(qpct * 100) / 100; //round to 2 decimals
      if(results[i].questionHistory.length == 0) qpct = 0; 
      
      var ismeclass = "";
      if(isme)
        var ismeclass = "table-success";
        
    %>
      <tr class="<%= ismeclass %>">
        <th scope="row"><%=i+1%></th>
        <td><%= username %></td> 
        <td><img src="<%= photo %>" height="30px" width="30px"></img></td> 
        <td><%= results[i].questionHistory.length %></td> 
        <td><%= qpct %>%</td> 
        <td><%= results[i].gameinfo.score %></td> 
      </tr>
    <% } %>
  
  </tbody>
</table>


</div>

<footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
